In [12]:
import sys
import pandas as pd
import pyodbc
print(sys.version)
conn = (
    r'DRIVER={SQL Server};'
    r'SERVER=(local);'
    r'DATABASE=Vita;'
    r'Trusted_Connection=yes;')

3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:06:47) [MSC v.1914 32 bit (Intel)]

In [4]:
conn = pyodbc.connect(conn)
if conn:
    print("connected ")

connected

In [8]:
df= pd.read_sql('select SubCategory, Sum(Amount) from dbo.BankStatementReadModel group by SubCategory',conn)

In [11]:
df

               SubCategory
0                     None      0.00
1                 BarsPubs    318.78
2          BooksStationery    129.05
3              CafesCoffee    118.90
4                  Charity     83.78
5                 Chemists    657.87
6          ClothingFashion    113.65
7        ConvenienceStores     29.42
8           ElectricityGas    392.30
9                     Fuel    587.69
10               Furniture     47.26
11             GymsFitness     86.80
12              HairBeauty     55.00
13     HealthLifeInsurance    949.33
14         HomeImprovement    267.21
15                Interest    231.35
16            LiquorStores    473.26
17          LoanRepayments  19964.49
18      MediaSubscriptions     18.98
19      OtherEntertainment    284.93
20         OtherFoodDrinks     37.50
21          OtherGroceries      7.00
22       OtherHealthBeauty    531.05
23           OtherShopping     43.27
24  OtherTransferringMoney  46178.52
25            ParkingTolls    256.20
26           PhoneInternet    276.17
27         PublicTransport    400.00
28                   Rates     20.43
29             Restaurants    126.06
30            Supermarkets    628.56
31               Takeaways    221.30
32           TaxiRideshare     24.90
33           Uncategorised   3922.05
34                   Wages  26500.00
35                   Water    711.43