In [1]:
import sys
import pandas as pd
import pyodbc
print(sys.version)
conn = (
    r'DRIVER={SQL Server};'
    r'SERVER=(local);'
    r'DATABASE=Vita;'
    r'Trusted_Connection=yes;')

3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:06:47) [MSC v.1914 32 bit (Intel)]

In [2]:
conn = pyodbc.connect(conn)
if conn:
    print("connected ")

connected

In [3]:
df= pd.read_sql('select SubCategory, sum(Amount) as Total from dbo.BankStatementReadModel group by SubCategory order by SubCategory',conn)

In [4]:
df

               SubCategory     Total
0                     None      0.00
1           ATMWithdrawals     60.00
2                 BarsPubs    296.28
3          BooksStationery    114.10
4              CafesCoffee     65.60
5                  Charity     83.78
6                 Chemists    427.45
7        ConvenienceStores     29.42
8           ElectricityGas    392.30
9                  Eyewear      6.40
10                    Fuel    587.69
11             GymsFitness     86.80
12              HairBeauty     55.00
13     HealthLifeInsurance    949.33
14         HomeImprovement    267.21
15                Interest    231.35
16            LiquorStores    460.66
17          LoanRepayments  20338.22
18      MediaSubscriptions     26.46
19      OtherEntertainment    248.93
20         OtherFoodDrinks     29.50
21          OtherGroceries      7.00
22       OtherHealthBeauty    531.05
23           OtherShopping     48.63
24  OtherTransferringMoney  48108.25
25             OtherTravel     14.04
26            ParkingTolls    241.50
27           PhoneInternet    276.17
28         PublicTransport    360.00
29                   Rates     20.43
30             Restaurants    121.56
31            Supermarkets    790.42
32               Takeaways    239.10
33           TaxiRideshare     62.09
34           Uncategorised   2814.29
35                   Wages  25800.00
36                   Water    711.43

In [5]:
conn.close()