In [7]:
import sys
import pandas as pd
import pyodbc
print(sys.version)
conn = (
    r'DRIVER={SQL Server};'
    r'SERVER=(local);'
    r'DATABASE=Vita;'
    r'Trusted_Connection=yes;')

3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]

In [8]:
conn = pyodbc.connect(conn)
if conn:
    print("database OK")

database OK

In [9]:
# Categories
df= pd.read_sql('select Category, sum(Amount) as Total from dbo.BankStatementReadModel group by Category order by Category',conn)

In [10]:
df

Empty DataFrame
Columns: [Category, Total]
Index: []

In [11]:
conn.close()