In [1]:
import os # import OS dependant functionality
import sys
import pandas as pd #import data analysis library required
import pandasql
from pandasql import sqldf
%config IPCompleter.greedy=True

sample = "data-sample.csv"
if not os.path.isfile(sample):
    sample = "c:/dev/vita/data/data-sample.csv"

df = pd.read_csv(sample)

In [9]:
df.head()

,date,description,category,amount,notes,tags,bank,accountname,accountnumber
0,31/03/2016,Woolworths Perth,Groceries - Supermarkets,-6.00,NaN,NaN,ANZ_BANK,account-8,6818ed4d-be63-4ba0-80eb-b613bcdde5cd
1,01/04/2016,Goodlife Murray Glms888462,Health & Beauty - Gyms & Fitness,-16.76,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
2,01/04/2016,Abel Mcgrath Pm Abel Mcgrath Paymt,Income - Other Income,1501.15,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
3,01/04/2016,Salary,Income - Wages,3746.61,NaN,NaN,ANZ_BANK,account-214,03c89d57-73e1-4a48-b2df-9b08033d2c41
4,04/04/2016,Funds Tfer Transfer To,Transferring Money - Other Transferring Money,-300.00,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5

In [3]:
df[['date','description']]

            date                                   description
0     31/03/2016                              Woolworths Perth
1     01/04/2016                    Goodlife Murray Glms888462
2     01/04/2016            Abel Mcgrath Pm Abel Mcgrath Paymt
3     01/04/2016                                        Salary
4     04/04/2016                        Funds Tfer Transfer To
5     04/04/2016                                  Loan Payment
6     04/04/2016                                      Interest
7     04/04/2016                                      Interest
8     04/04/2016                Slurp Soup And Salad Bar Perth
9     04/04/2016                     City Of Perth Park1 Perth
10    04/04/2016                              Bunnings Innaloo
11    05/04/2016                                  Ag Insurance
12    05/04/2016                                    Funds Tfer
13    05/04/2016                              Personal Account
14    05/04/2016                        Funds Tfer Transfer To
15    05/04/2016                              Bunnings Innaloo
16    06/04/2016               Lalla Rookh Bar And Eatin Perth
17    06/04/2016               Lalla Rookh Bar And Eatin Perth
18    06/04/2016              Everydy Hero Reg Giv Spring Hill
19    06/04/2016                              Bunnings Innaloo
20    07/04/2016                                       Synergy
21    08/04/2016                    Woolworths Stgeorgestce Au
22    08/04/2016                    Goodlife Murray Glms888462
23    08/04/2016                       Bp Baldivis Sb Baldivis
24    08/04/2016                      Dynacor Pty Ltd Yangebup
25    11/04/2016                            Uber San Francisco
26    11/04/2016                        Dunn Walton Doubleview
27    11/04/2016                Black Fire Pty Ltd Northbridge
28    11/04/2016                          Hj Baldivis Baldivis
29    12/04/2016                             Water Corporation
...          ...                                           ...
5913  10/05/2018                         Coles North Perth Aus
5914  11/05/2018        Online Tfr Jake And Le To Sons Account
5915  11/05/2018       Online Pymt Husband An Weekly Allowance
5916  11/05/2018            Dan Murphys Online Bella Vista Aus
5917  11/05/2018                             Kmart Innaloo Aus
5918  11/05/2018                             Coles Innaloo Aus
5919  11/05/2018             Stompcoffee House North Perth Aus
5920  11/05/2018                        Big W Mirrabookawa Aus
5921  11/05/2018                             Cba From transfer
5922  14/05/2018                      Qbe Insurance Bcx2915755
5923  14/05/2018                      Qbe Insurance Bcx2915762
5924  14/05/2018                      Qbe Insurance Bcx2915777
5925  14/05/2018            Online Tfr Tax Account Tax Savings
5926  14/05/2018             Arbonne Europe Sarl Au Rhodes Aus
5927  14/05/2018                     Netflix Com Melbourne Aus
5928  14/05/2018                Red Dot Stores Qps Innaloo Aus
5929  14/05/2018                 Periodical Payment To My wife
5930  15/05/2018                         Pymt Sarah Zuch Sarah
5931  15/05/2018                Stgperth Wildcats Richmond Aus
5932  15/05/2018                Stgperth Wildcats Richmond Aus
5933  15/05/2018                   Woolworths Mt Hawthorwa Aus
5934  16/05/2018        Frequency Espresso Pty North Perth Aus
5935  16/05/2018  Online Tfr Rocket Repay Home Lofrom Bus Loan
5936  17/05/2018           Pinchos Leederville Leederville Aus
5937  18/05/2018                              Woolworths Insur
5938  18/05/2018                                Certegy Ezipay
5939  18/05/2018       Online Pymt Robert And Nab Loan Payment
5940  18/05/2018       Online Pymt Husband An Weekly Allowance
5941  18/05/2018        Online Tfr Jake And Le To Sons Account
5942  18/05/2018            West Coast Fc Member Docklands Aus

[5943 rows x 2 columns]

,date,description,category,amount,notes,tags,bank,accountname,accountnumber
0,31/03/2016,Woolworths Perth,Groceries - Supermarkets,-6.00,NaN,NaN,ANZ_BANK,account-8,6818ed4d-be63-4ba0-80eb-b613bcdde5cd
1,01/04/2016,Goodlife Murray Glms888462,Health & Beauty - Gyms & Fitness,-16.76,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
2,01/04/2016,Abel Mcgrath Pm Abel Mcgrath Paymt,Income - Other Income,1501.15,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
3,01/04/2016,Salary,Income - Wages,3746.61,NaN,NaN,ANZ_BANK,account-214,03c89d57-73e1-4a48-b2df-9b08033d2c41
4,04/04/2016,Funds Tfer Transfer To,Transferring Money - Other Transferring Money,-300.00,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5

In [8]:
df[df.duplicated(keep=False)].count()

date             100
description      100
category         100
amount           100
notes              0
tags               0
bank             100
accountname      100
accountnumber    100
dtype: int64