In [3]:
import os # import OS dependant functionality
import sys
import pandas as pd #import data analysis library required
import pandasql
from pandasql import sqldf

sample = "data-sample.csv"
if not os.path.isfile(sample):
    sample = "c:/dev/vita/data/data-sample.csv"

df = pd.read_csv(sample)

In [4]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>description</th>
      <th>category</th>
      <th>amount</th>
      <th>bank</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31/03/2016</td>
      <td>Woolworths Perth</td>
      <td>Groceries - Supermarkets</td>
      <td>-6.00</td>
      <td>ANZ_BANK</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1/04/2016</td>
      <td>Goodlife Murray Glms888462</td>
      <td>Health &amp; Beauty - Gyms &amp; Fitness</td>
      <td>-16.76</td>
      <td>ANZ_BANK</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1/04/2016</td>
      <td>Abel Mcgrath Pm Abel Mcgrath Paymt</td>
      <td>Income - Other Income</td>
      <td>1501.15</td>
      <td>ANZ_BANK</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1/04/2016</td>
      <td>Salary</td>
      <td>Income - Wages</td>
      <td>3746.61</td>
      <td>ANZ_BANK</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4/04/2016</td>
      <td>Funds Tfer Transfer To</td>
      <td>Transferring Money - Other Transferring Money</td>
      <td>-300.00</td>
      <td>ANZ_BANK</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
df[['date','description']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31/03/2016</td>
      <td>Woolworths Perth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1/04/2016</td>
      <td>Goodlife Murray Glms888462</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1/04/2016</td>
      <td>Abel Mcgrath Pm Abel Mcgrath Paymt</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1/04/2016</td>
      <td>Salary</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4/04/2016</td>
      <td>Funds Tfer Transfer To</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4/04/2016</td>
      <td>Loan Payment</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4/04/2016</td>
      <td>Interest</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4/04/2016</td>
      <td>Interest</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4/04/2016</td>
      <td>Slurp Soup And Salad Bar Perth</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4/04/2016</td>
      <td>City Of Perth Park1 Perth</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4/04/2016</td>
      <td>Bunnings Innaloo</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5/04/2016</td>
      <td>Ag Insurance</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5/04/2016</td>
      <td>Funds Tfer</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5/04/2016</td>
      <td>Personal Account</td>
    </tr>
    <tr>
      <th>14</th>
      <td>5/04/2016</td>
      <td>Funds Tfer Transfer To</td>
    </tr>
    <tr>
      <th>15</th>
      <td>5/04/2016</td>
      <td>Bunnings Innaloo</td>
    </tr>
    <tr>
      <th>16</th>
      <td>6/04/2016</td>
      <td>Lalla Rookh Bar And Eatin Perth</td>
    </tr>
    <tr>
      <th>17</th>
      <td>6/04/2016</td>
      <td>Lalla Rookh Bar And Eatin Perth</td>
    </tr>
    <tr>
      <th>18</th>
      <td>6/04/2016</td>
      <td>Everydy Hero Reg Giv Spring Hill</td>
    </tr>
    <tr>
      <th>19</th>
      <td>6/04/2016</td>
      <td>Bunnings Innaloo</td>
    </tr>
    <tr>
      <th>20</th>
      <td>7/04/2016</td>
      <td>Synergy</td>
    </tr>
    <tr>
      <th>21</th>
      <td>8/04/2016</td>
      <td>Woolworths Stgeorgestce Au</td>
    </tr>
    <tr>
      <th>22</th>
      <td>8/04/2016</td>
      <td>Goodlife Murray Glms888462</td>
    </tr>
    <tr>
      <th>23</th>
      <td>8/04/2016</td>
      <td>Bp Baldivis Sb Baldivis</td>
    </tr>
    <tr>
      <th>24</th>
      <td>8/04/2016</td>
      <td>Dynacor Pty Ltd Yangebup</td>
    </tr>
    <tr>
      <th>25</th>
      <td>11/04/2016</td>
      <td>Uber San Francisco</td>
    </tr>
    <tr>
      <th>26</th>
      <td>11/04/2016</td>
      <td>Dunn Walton Doubleview</td>
    </tr>
    <tr>
      <th>27</th>
      <td>11/04/2016</td>
      <td>Black Fire Pty Ltd Northbridge</td>
    </tr>
    <tr>
      <th>28</th>
      <td>11/04/2016</td>
      <td>Hj Baldivis Baldivis</td>
    </tr>
    <tr>
      <th>29</th>
      <td>12/04/2016</td>
      <td>Water Corporation</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>5913</th>
      <td>10/05/2018</td>
      <td>Coles North Perth Aus</td>
    </tr>
    <tr>
      <th>5914</th>
      <td>11/05/2018</td>
      <td>Online Tfr Jake And Le To Sons Account</td>
    </tr>
    <tr>
      <th>5915</th>
      <td>11/05/2018</td>
      <td>Online Pymt Husband An Weekly Allowance</td>
    </tr>
    <tr>
      <th>5916</th>
      <td>11/05/2018</td>
      <td>Dan Murphys Online Bella Vista Aus</td>
    </tr>
    <tr>
      <th>5917</th>
      <td>11/05/2018</td>
      <td>Kmart Innaloo Aus</td>
    </tr>
    <tr>
      <th>5918</th>
      <td>11/05/2018</td>
      <td>Coles Innaloo Aus</td>
    </tr>
    <tr>
      <th>5919</th>
      <td>11/05/2018</td>
      <td>Stompcoffee House North Perth Aus</td>
    </tr>
    <tr>
      <th>5920</th>
      <td>11/05/2018</td>
      <td>Big W Mirrabookawa Aus</td>
    </tr>
    <tr>
      <th>5921</th>
      <td>11/05/2018</td>
      <td>Cba From transfer</td>
    </tr>
    <tr>
      <th>5922</th>
      <td>14/05/2018</td>
      <td>Qbe Insurance Bcx2915755</td>
    </tr>
    <tr>
      <th>5923</th>
      <td>14/05/2018</td>
      <td>Qbe Insurance Bcx2915762</td>
    </tr>
    <tr>
      <th>5924</th>
      <td>14/05/2018</td>
      <td>Qbe Insurance Bcx2915777</td>
    </tr>
    <tr>
      <th>5925</th>
      <td>14/05/2018</td>
      <td>Online Tfr Tax Account Tax Savings</td>
    </tr>
    <tr>
      <th>5926</th>
      <td>14/05/2018</td>
      <td>Arbonne Europe Sarl Au Rhodes Aus</td>
    </tr>
    <tr>
      <th>5927</th>
      <td>14/05/2018</td>
      <td>Netflix Com Melbourne Aus</td>
    </tr>
    <tr>
      <th>5928</th>
      <td>14/05/2018</td>
      <td>Red Dot Stores Qps Innaloo Aus</td>
    </tr>
    <tr>
      <th>5929</th>
      <td>14/05/2018</td>
      <td>Periodical Payment To My wife</td>
    </tr>
    <tr>
      <th>5930</th>
      <td>15/05/2018</td>
      <td>Pymt Sarah Zuch Sarah</td>
    </tr>
    <tr>
      <th>5931</th>
      <td>15/05/2018</td>
      <td>Stgperth Wildcats Richmond Aus</td>
    </tr>
    <tr>
      <th>5932</th>
      <td>15/05/2018</td>
      <td>Stgperth Wildcats Richmond Aus</td>
    </tr>
    <tr>
      <th>5933</th>
      <td>15/05/2018</td>
      <td>Woolworths Mt Hawthorwa Aus</td>
    </tr>
    <tr>
      <th>5934</th>
      <td>16/05/2018</td>
      <td>Frequency Espresso Pty North Perth Aus</td>
    </tr>
    <tr>
      <th>5935</th>
      <td>16/05/2018</td>
      <td>Online Tfr Rocket Repay Home Lofrom Bus Loan</td>
    </tr>
    <tr>
      <th>5936</th>
      <td>17/05/2018</td>
      <td>Pinchos Leederville Leederville Aus</td>
    </tr>
    <tr>
      <th>5937</th>
      <td>18/05/2018</td>
      <td>Woolworths Insur</td>
    </tr>
    <tr>
      <th>5938</th>
      <td>18/05/2018</td>
      <td>Certegy Ezipay</td>
    </tr>
    <tr>
      <th>5939</th>
      <td>18/05/2018</td>
      <td>Online Pymt Robert And Nab Loan Payment</td>
    </tr>
    <tr>
      <th>5940</th>
      <td>18/05/2018</td>
      <td>Online Pymt Husband An Weekly Allowance</td>
    </tr>
    <tr>
      <th>5941</th>
      <td>18/05/2018</td>
      <td>Online Tfr Jake And Le To Sons Account</td>
    </tr>
    <tr>
      <th>5942</th>
      <td>18/05/2018</td>
      <td>West Coast Fc Member Docklands Aus</td>
    </tr>
  </tbody>
</table>
<p>5943 rows × 2 columns</p>
</div>