In [7]:
import os # import OS dependant functionality
import pandas as pd #import data analysis library required

df = pd.read_csv('data-sample.csv')
df.sample()

,date,description,category,amount,notes,tags,bank,accountname,accountnumber
0,31/03/2016,Woolworths Perth,Groceries - Supermarkets,-6.00,NaN,NaN,ANZ_BANK,account-8,6818ed4d-be63-4ba0-80eb-b613bcdde5cd
1,1/04/2016,Goodlife Murray Glms888462,Health & Beauty - Gyms & Fitness,-16.76,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
2,1/04/2016,Abel Mcgrath Pm Abel Mcgrath Paymt,Income - Other Income,1501.15,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5
3,1/04/2016,Salary,Income - Wages,3746.61,NaN,NaN,ANZ_BANK,account-214,03c89d57-73e1-4a48-b2df-9b08033d2c41
4,4/04/2016,Funds Tfer Transfer To,Transferring Money - Other Transferring Money,-300.00,NaN,NaN,ANZ_BANK,account-2,8da72249-f85e-4ade-9e7f-52fb7a2acbb5